<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    {%block content%}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestiae cum harum magnam laborum placeat culpa magni, iste eius ipsum doloribus ab omnis aspernatur saepe laboriosam illum voluptas ipsam. Exercitationem ullam debitis animi, est culpa blanditiis alias officiis voluptate laborum! Autem qui molestiae adipisci similique accusamus mollitia, expedita nesciunt id!</p>
    {%endblock content%}
    <p>FOOTER</p>
    
</body>
</html>